@charset "utf-8";

/********* HTMLリセット *********************************************/

html, body, div, header, footer, section, article, aside, menu, nav, hgroup, figure, dialog, audio, video, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, pre, blockquote, th, td, form, fieldset, input, textarea {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, menu, nav, hgroup, figure, dialog, audio, video {
	display: block;
}
nav ul li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
em, strong, small, code, address, th {
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
}
ul, ol {
	list-style: none;
}
q:before, q:after {
	content: "";
}
abbr, acronym {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	text-align: left;
}
fieldset, img {
	border: 0;
}

/********* HTML再定義 ***********************************************/

body {
	line-height: 1.4;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #FFFFFF;
	color: #222222;
	font-size: 80%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: bold;
}
h1 {
	font-size: 200%;
	font-family: "Arial Black", Arial;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 100%;
}

p {
	margin: 10px 0;
}
em, strong {
	font-style: normal;
	font-weight: bold;
}
ul {
	margin: 10px 20px;
}
ul li {
	list-style: disc;
}
ol {
	margin: 10px 20px;
}
ol li {
	list-style: decimal;
}
dl {
	margin: 10px 0;
}
dl dd {
	margin-left: 30px;
}
pre {
	overflow: auto;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #AAAAAA;
}
code {
	color: #000080;
}
pre, code {
	line-height: 1.2;
	font-size: 100%;
	font-family: "ＭＳ ゴシック", monospace;
}
blockquote {
	overflow: auto;
	margin: 10px 0;
	padding: 0 15px;
	border-left: 2px solid #7777AA;
}
blockquote div, blockquote p, blockquote li, blockquote dt, blockquote dd {
	color: #777777;
}

table {
	margin: 15px 0;
}
table tr th {
	padding: 5px;
	border: 1px solid #999999;
	background-color: #DDDDDD;
	font-weight: bold;
	text-align: center;
}
table tr td {
	padding: 5px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}
table tr td input {
	margin: -2px 0;
}

form {
	margin: 20px 0;
}
form legend {
	display: none;
}
form dl dt {
	margin: 0 0 5px 0;
}
form dl dd {
	margin: 0 0 15px 0;
}
form dl dd input, form dl dd textarea, form dl dd select {
	padding: 5px;
}
form ul {
	margin: 15px 0;
}
form ul li {
	list-style: none;
}
form p {
	margin: 20px 0;
}
form p input {
	padding: 5px 20px 7px;
}

figure {
	margin: 10px 0;
}

a {
	color: #0000FF;
	text-decoration: underline;
}
